<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- XDI ENDPOINT REGISTRY AND TRANSPORT -->

	<bean id="HttpEndpointRegistry" class="xdi2.server.registry.HttpEndpointRegistry" init-method="init" destroy-method="shutdown" />

	<bean id="HttpTransport" class="xdi2.server.transport.HttpTransport" init-method="init" destroy-method="shutdown">
		<property name="httpEndpointRegistry" ref="HttpEndpointRegistry" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.server.interceptor.impl.DebugHttpTransportInterceptor" />
<!-- 				<bean class="xdi2.xrinet.XdiProxyHttpTransportInterceptor">
					<property name="proxy" ref="proxy" />
				</bean> -->
			</util:list>
		</property>
	</bean>

	<!-- SPRING -->

	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="xdi2.server.spring.StringXDI3StatementConverter" />
				<bean class="xdi2.server.spring.StringXDI3SegmentConverter" />
				<bean class="xdi2.server.spring.StringXDI3SubSegmentConverter" />
				<bean class="xdi2.server.spring.StringXDI3XRefConverter" />
			</list>
		</property>
	</bean>

	<!-- OPENXRI PROXY -->

	<bean id="proxy" class="org.openxri.proxy.impl.BasicProxy" init-method="init" destroy-method="shutdown">
		<constructor-arg><ref bean="proxyConfig" /></constructor-arg> 
	</bean>
	
	<bean id="proxyConfig" class="org.openxri.config.impl.PropertiesProxyConfig">
		<constructor-arg><util:properties location="/WEB-INF/proxy.properties" /></constructor-arg>
	</bean>

	<!-- XDI PROXY MESSAGING TARGET -->

	<bean name="/" class="xdi2.xrinet.XdiProxyMessagingTarget">
		<property name="proxy" ref="proxy" />
	</bean>

</beans>
