<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- XDI FILTER -->

	<bean id="EndpointFilter" class="xdi2.server.EndpointFilter">
		<property name="endpointServlet" ref="EndpointServlet" />
	</bean>

	<!-- XDI SERVLET -->

	<bean id="EndpointServlet" class="xdi2.server.EndpointServlet" init-method="init" destroy-method="destroy">
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.xrinet.XriProxyEndpointServletInterceptor">
					<property name="proxy" ref="Proxy" />
				</bean>
			</util:list>
		</property>
	</bean>

	<!-- Set up the OpenXRI Proxy -->

	<bean id="Proxy" class="org.openxri.proxy.impl.BasicProxy" init-method="init" destroy-method="shutdown">
		<constructor-arg><ref bean="ProxyConfig" /></constructor-arg> 
	</bean>
	
	<bean id="ProxyConfig" class="org.openxri.config.impl.PropertiesProxyConfig">
		<constructor-arg><util:properties location="/WEB-INF/proxy.properties" /></constructor-arg>
	</bean>

	<!-- Set up the XdiProxyMessagingTarget -->

	<bean name="/" class="xdi2.xrinet.XdiProxyMessagingTarget">
		<property name="proxy" ref="Proxy" />
	</bean>

</beans>
